@page "/albums"
@using Sonorize.Core.Services
@using Sonorize.Core.Models
@using Sonorize.Core.Services.Library
@using Sonorize.Core.Settings
@using Sonorize.Photino.Blazor.Components.Pages.Components
@inject LibraryService LibService
@inject NavigationManager Nav
@inject SonorizeSettings AppSettings
@inject ISettingsManager<SonorizeSettings> SettingsManager
@implements IDisposable

<LibraryBrowser Title="Albums"
                TItem="AlbumGroup"
                Items="_albums"
                FilterPredicate="FilterAlbum"
                ViewMode="AppSettings.Library.AlbumsViewMode"
                ViewModeChanged="OnViewModeChanged"
                OnItemClick="OpenAlbum">

    <GridTemplate Context="album">
        <div class="library-grid-item" @onclick="() => OpenAlbum(album)">
            <div class="art-wrapper">
                @if (album.RepresentativeFilePath is not null)
                {
                    <img src="@GetArtUrl(album.RepresentativeFilePath)" loading="lazy" />
                }
                else
                {
                    <div class="art-placeholder"><i class="fas fa-compact-disc"></i></div>
                }
            </div>
            <p class="item-title" title="@album.Title">@album.Title</p>
            <p class="item-subtitle" title="@album.Artist">@album.Artist</p>
        </div>
    </GridTemplate>

    <TableHeader>
        <tr>
            <th class="col-art"></th>
            <th class="col-title sortable-header" @onclick='() => Sort("Title")'>
                Title @RenderSortIcon("Title")
            </th>
            <th class="col-artist sortable-header" @onclick='() => Sort("Artist")'>
                Artist @RenderSortIcon("Artist")
            </th>
            <th class="col-duration sortable-header" @onclick='() => Sort("Count")'>
                Songs @RenderSortIcon("Count")
            </th>
        </tr>
    </TableHeader>

    <RowTemplate Context="album">
        <td class="col-art">
            <div class="list-art-wrapper">
                @if (album.RepresentativeFilePath is not null)
                {
                    <img src="@GetArtUrl(album.RepresentativeFilePath)" loading="lazy" />
                }
            </div>
        </td>
        <td class="col-title">@album.Title</td>
        <td class="col-artist">@album.Artist</td>
        <td class="col-duration">@album.SongCount</td>
    </RowTemplate>

</LibraryBrowser>