@page "/playlists"
@using Sonorize.Core.Services
@using Sonorize.Core.Models
@using Sonorize.Core.Services.Library
@using Sonorize.Core.Settings
@using Sonorize.Photino.Blazor.Components.Pages.Components
@inject LibraryService LibService
@inject NavigationManager Nav
@inject SonorizeSettings AppSettings
@inject ISettingsManager<SonorizeSettings> SettingsManager
@implements IDisposable

<LibraryBrowser Title="Playlists"
                TItem="Playlist"
                Items="_playlists"
                FilterPredicate="FilterPlaylist"
                ViewMode="AppSettings.Library.PlaylistsViewMode"
                ViewModeChanged="OnViewModeChanged"
                OnItemClick="OpenPlaylist">

    <GridTemplate Context="playlist">
        <div class="library-grid-item" @onclick="() => OpenPlaylist(playlist)">
            <div class="art-wrapper">
                @{
                    var artPath = GetPlaylistArt(playlist);
                }
                @if (artPath is not null)
                {
                    <img src="@GetArtUrl(artPath)" loading="lazy" />
                }
                else
                {
                    <div class="art-placeholder"><i class="fas fa-list-music"></i></div>
                }
            </div>
            <p class="item-title" title="@playlist.Name">@playlist.Name</p>
            <p class="item-subtitle">
                @playlist.SongFilePaths.Count @(playlist.SongFilePaths.Count == 1 ? "song" : "songs")
            </p>
        </div>
    </GridTemplate>

    <TableHeader>
        <tr>
            <th class="col-art"></th>
            <th class="col-title sortable-header" @onclick='() => Sort("Name")'>
                Name @RenderSortIcon("Name")
            </th>
            <th class="col-artist sortable-header" @onclick='() => Sort("Type")'>
                Type @RenderSortIcon("Type")
            </th>
            <th class="col-duration sortable-header" @onclick='() => Sort("Count")'>
                Songs @RenderSortIcon("Count")
            </th>
        </tr>
    </TableHeader>

    <RowTemplate Context="playlist">
        <td class="col-art">
            <div class="list-art-wrapper">
                @{
                    var artPath = GetPlaylistArt(playlist);
                }
                @if (artPath is not null)
                {
                    <img src="@GetArtUrl(artPath)" loading="lazy" />
                }
            </div>
        </td>
        <td class="col-title">@playlist.Name</td>
        <td class="col-artist">
            @(playlist.Type == PlaylistType.Manual ? "Manual" : "File")
        </td>
        <td class="col-duration">@playlist.SongFilePaths.Count</td>
    </RowTemplate>

</LibraryBrowser>