@page "/settings"
@using Sonorize.Photino.Blazor.Components.Pages.SettingsSections
@inject NavigationManager Nav

<div class="settings-view">
    <div class="settings-header">
        <button class="back-btn header-action-btn" title="Back to library" @onclick="GoBack">
            <i class="fas fa-chevron-left"></i>
        </button>
        <h2>Settings</h2>
    </div>

    <div class="settings-tabs">
        <button class="tab-btn @(_activeTab == SettingsTab.General ? "active" : "")"
                @onclick="() => _activeTab = SettingsTab.General">
            General
        </button>

        <button class="tab-btn @(_activeTab == SettingsTab.Theme ? "active" : "")"
                @onclick="() => _activeTab = SettingsTab.Theme">
            Appearance
        </button>

        <button class="tab-btn @(_activeTab == SettingsTab.Library ? "active" : "")"
                @onclick="() => _activeTab = SettingsTab.Library">
            Library
        </button>

        <button class="tab-btn @(_activeTab == SettingsTab.Scrobbling ? "active" : "")"
                @onclick="() => _activeTab = SettingsTab.Scrobbling">
            Scrobbling
        </button>

        <button class="tab-btn @(_activeTab == SettingsTab.Advanced ? "active" : "")"
                @onclick="() => _activeTab = SettingsTab.Advanced">
            Advanced
        </button>
    </div>

    <div class="settings-content">
        @switch (_activeTab)
        {
            case SettingsTab.General:
                <GeneralTab />
                break;
            case SettingsTab.Theme:
                <ThemeTab />
                break;
            case SettingsTab.Library:
                <LibraryTab />
                break;
            case SettingsTab.Scrobbling:
                <ScrobblingTab />
                break;
            case SettingsTab.Advanced:
                <AdvancedTab />
                break;
        }
    </div>
</div>

<Component />

