@using Sonorize.Core.Models
@using Sonorize.Core
@using Sonorize.Core.Services
@using Sonorize.Core.Services.UI
@using Sonorize.Core.Settings
@implements IDisposable
@inject SonorizeSettings AppSettings
@inject ISettingsManager<SonorizeSettings> SettingsManager
@inject LayoutStateService LayoutState

@if (Songs is null || !Songs.Any())
{
    <div class="empty-library-message">
        @EmptyMessage
    </div>
}
else
{
    <div class="track-list" style="--list-art-size: @(AppSettings.Library.ListArtSize)px;">
        <table>
            <thead>
                <tr>
                    @if (AppSettings.Library.Columns.ShowIndex)
                    {
                        <th class="col-index">#</th>
                    }
                    @if (AppSettings.Library.Columns.ShowArt)
                    {
                        <th class="col-art"></th>
                    }

                    <th class="col-title sortable-header" @onclick="() => HandleSort(SortColumn.Title)">
                        Title @RenderSortIcon(SortColumn.Title)
                    </th>

                    @if (AppSettings.Library.Columns.ShowArtist)
                    {
                        <th class="col-artist sortable-header" @onclick="() => HandleSort(SortColumn.Artist)">
                            Artist @RenderSortIcon(SortColumn.Artist)
                        </th>
                    }
                    @if (AppSettings.Library.Columns.ShowAlbum)
                    {
                        <th class="col-album sortable-header" @onclick="() => HandleSort(SortColumn.Album)">
                            Album @RenderSortIcon(SortColumn.Album)
                        </th>
                    }
                    @if (AppSettings.Library.Columns.ShowDuration)
                    {
                        <th class="col-duration sortable-header" @onclick="() => HandleSort(SortColumn.Duration)">
                            <i class="far fa-clock"></i> @RenderSortIcon(SortColumn.Duration)
                        </th>
                    }
                    <th class="col-options"></th>
                    @if (ShowRemoveButton)
                    {
                        <th style="width:40px;"></th>
                    }
                </tr>
            </thead>
            <tbody>
                @if (Songs.Count <= 500)
                {
                    @foreach (var song in Songs)
                    {
                        @RenderRow(song)
                    }
                }
                else
                {
                    <Virtualize Items="@Songs" Context="song" SpacerElement="tr" OverscanCount="10" ItemSize="@_calculatedRowHeight">
                        @RenderRow(song)
                    </Virtualize>
                }
            </tbody>
        </table>
    </div>
}